.image-text-generator-field {
  position: relative;
  display: flex;
  gap: 10px;

  .generate-button {
    height: 34px;
    white-space: nowrap;
  }

  .loading-dots::after {
    content: '.';
    animation: dots 1s steps(5, end) infinite;
  }

  @keyframes dots {
    0%, 20% { content: '.'; }
    40% { content: '..'; }
    60% { content: '...'; }
    80%, 100% { content: ''; }
  }
}